/* GLOBAL */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff; /* todo hexima decimal entende de 0 até o F */
}
ul {
  list-style: none;
}
.quadradoprincipal {
  width: 320px;
  height: 850px;
  background: #eed7d7;
  position: flex;
  border: solid 2px #cc3000b4;
  margin-left: 500px;
  
}
/* HEADER */
header {
  padding: 32px 0;
  text-align: center;
}

header,

/*SECTION*/
section {
  max-width: 300px;
  margin: 0 auto;
}

header h1 {
  margin-bottom: 4px;
}

header h1 span {
  color: #cc3000b4;
}

section {
  margin-bottom: 24px;
}

section h2 {
  background-color: #da978c;
  padding: 8px 16px;
  text-align: center;
  margin-bottom: 24px;
}
/*LISTA*/
ul li {
  margin-bottom:16px;
  display: flex;
}

li .details {
  max-width: 240px;
}

.details h3 {
  margin-bottom: 8px;
}
